[Unit]
Description=Git Webhook Receiver
After=network.target

[Service]
User=git
Group=git
Type=simple
Restart=on-failure
ExecStart=/srv/sync/git-webhook-receiver.py -c /srv/sync/config.yaml

[Install]
WantedBy=multi-user.target
